Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.turbo
.kontinuous
.github
dist
.vscode
docker-compose.yml
CHANGELOG.md
.nvmrc
.releaserc.js
.editorconfig
LICENSE
socket.yml
/out
.env
.env.*.local
public/sitemap*

**/Dockerfile
**/.dockerignore
**/node_modules
**/npm-debug.log
**/README.md
**/.next
**/.turbo
**/dist
**/.vscode
**/docker-compose.yml
**/CHANGELOG.md
**/.nvmrc
**/.releaserc.js
**/.editorconfig
**/LICENSE
**/socket.yml
**/.env
**/.env.*.local
**/public/sitemap*
