global:
  # host: maisonautisme.gouv.fr #TODO enable when domain is ok

web:
  vars:
    MDA_ENV: prod

jobs:
  runs:
    build-web:
      with:
        buildArgs:
          # NEXT_PUBLIC_STRAPI_API_URL: "https://strapi.{{ .Values.global.host }}"
          PRODUCTION: "true"
          ROBOT: "true"
