web:
  vars:
    MDA_ENV: preprod

jobs:
  runs:
    build-web:
      with:
        buildArgs:
          PRODUCTION: "true"
          NEXT_PUBLIC_STRAPI_API_URL: "https://strapi-{{ .Values.global.host }}"
