.fr-text-center {
    text-align: center;
}

.fr-text-right {
    text-align: right;
}

.fr-text-left {
    text-align: left;
}

.fr-text--sm *,
.fr-text--md *,
.fr-text--xl *,
.fr-text--lead * {
    font-size: inherit;
    line-height: inherit;
}

.fr-footer__content-desc p {
    font-size: inherit;
    line-height: inherit;
}

@media (min-width: 62em) {
    .fr-pl-lg-4w {
        padding-left: 2rem !important;
    }
    .fr-pt-lg-6w {
        padding-top: 3rem !important;
    }
}

.fr-bg-grey-lightest {
    background: var(--grey-1000-50-hover);
}

.fr-bg-white {
    background: var(--grey-1000-50);
}

.fr-content ul {
    margin: var(--text-spacing);
}

.fr-sidemenu__inner > .fr-collapse {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.fr-btn--round {
    border-radius: 50%;
}

.fr-fieldset-reset {
    border: 0;
    padding: 0;
    margin: 0;
}

@media (min-width: 62em) {
    .fr-header__search.fr-modal {
        position: relative !important;
    }
}
@media (max-width: 62em) {
    .fr-header__search.fr-modal--opened .fr-search-bar {
        position: relative !important;
    }

    .fr-header__search.fr-modal--opened .fr-search-bar .fr-input:focus {
        outline: none;
    }
}

.fr-video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.fr-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fr-no-external-icon::after {
    display: none !important;
}

textarea {
  resize: vertical;
}

.fr-breadcrumb {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.fr-bordered-list {
    list-style: none;
    margin: 0;
    border: 1px solid var(--border-default-grey);
    padding: 1rem;
}

.fr-bordered-list li {
    margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .fr-header__operator svg path {
    fill : #cecece
  }
}

@media (prefers-color-scheme: light) {
  .fr-header__operator svg path{
    fill : #212D52
  }
}

@page {
    margin: 2cm;
}

@media print {
    * {
        all: unset;
        display: revert;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        box-shadow: none !important;
        filter: none !important;
    }
    *::before,
    *::after {
        display: none !important;
    }
    img {
        max-width: 100%;
    }
    input,
    textarea,
    select {
        all: revert;
    }
    body {
        font-size: 13pt;
        line-height: 1.5;
        background-color: #fff !important;
        color: #000 !important;
    }
    h1 {
        font-size: 24pt;
    }
    h2 {
        font-size: 20pt;
        margin-top: 20pt;
    }
    h3,
    h4 {
        font-size: 14pt;
        margin-top: 14pt;
    }
    h5,
    h6 {
        font-size: 13pt;
        margin-top: 14pt;
    }

    a,
    a:link,
    a:visited {
        background: transparent !important;
        color: unset;
        font-weight: 700;
        text-decoration: underline !important;
    }
    a[href^="http"]:after,
    a[href^="https"]:after {
        content: " (" attr(href) ")";
    }
    video,
    object,
    iframe {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
    }
    .fr-no-print,
    .fr-no-print * {
        display: none !important;
    }
}

/*  --------------------------------
    --  Orejime custom styles
    -------------------------------- */

.orejime-Notice-purposes,
.orejime-ModalPortal,
.orejime-Notice {
    color: var(--text-default-grey) !important;
}

.orejime-Notice.orejime-Notice {
    box-shadow: inset 0 0 0 1px var(--border-default-grey) !important;
    filter: drop-shadow(var(--overlap-shadow)) !important;
    z-index: calc(var(--ground) + 1500) !important;
    background-color: var(--background-alt-overlap-grey) !important;
    border-radius: 0 !important;
    max-height: calc(100% - 5rem) !important;
    max-width: 40rem !important;
    padding: 2rem !important;
}

.orejimeBody-WithModalOpen .orejime-Notice.orejime-Notice {
    z-index: calc(var(--ground) + 500) !important;
}

.orejime-Notice-title,
.orejime-Notice-description {
    color: var(--text-default-grey) !important;
}

.orejime-Notice-title,
.orejime-Notice-description {
    font-size: .875rem !important;
}

.orejime-Notice-body.orejime-Notice-body {
    padding: 0 !important;
}


.orejime-Button.orejime-Button {
    border-radius: 0 !important;
    cursor: pointer !important;
}

.orejime-Button--save,
.orejime-Button--accept,
.orejime-Button--decline {
    background: var(--background-action-high-blue-france) !important;
    color: var(--text-inverted-blue-france) !important;
}

.orejime-Button--save:hover,
.orejime-Button--accept:hover,
.orejime-Button--decline:hover {
    background: var(--background-action-high-blue-france-hover) !important;
}

.orejime-Button--save:active,
.orejime-Button--accept:active,
.orejime-Button--decline:active {
    background: var(--background-action-high-blue-france-active) !important;
}

.orejime-Button--info {
    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france) !important;
    color: var(--text-action-high-blue-france) !important;
    background: transparent !important;
}

.orejime-Button--info:hover {
    background: var(--hover) !important;
}

.orejime-Button--info:active {
    background: var(--active) !important;
}

.orejime-ModalOverlay, .orejime-NoticeOverlay {
    background-color: hsla(0,0%,9%,.64) !important;
}

.orejime-Modal {
  background: var(--background-lifted-grey) !important;
  border-radius: 0 !important;
}

.orejime-Modal-title.orejime-Modal-title {
    margin: 0 0 1rem 0 !important;
    color: var(--text-title-grey) !important;
    font-size: 1.375rem !important;
    font-weight: 700 !important;
    line-height: 1.75rem !important;
}

.orejime-Modal-description.orejime-Modal-description {
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5rem !important;
    padding: 0 0 0.75rem !important;
    color: var(--text-default-grey) !important;
}

.orejime-Modal {
    color: var(--text-default-grey) !important;
}

.orejime-Modal a {
    text-decoration: none !important;
}


.orejime-Modal-header {
    padding: 2rem 2rem 1rem !important;
    border-bottom: 1px solid var(--border-default-grey) !important;
}

.orejime-Modal-footer {
    padding: 1rem 2rem 2rem !important;
}

.orejime-Modal-body {
    padding: 2rem !important;
}

.orejime-AppToggles {
    margin: 0 0 2rem 0 !important;
}

.orejime-Modal-footer {
    padding: 2rem !important;
    border-top: 1px solid var(--border-default-grey) !important;
}


.orejime-AppList-item {
    padding-left: 80px !important;
}

.orejime-AppItem-title {
    color: var(--text-default-grey) !important;
}

.orejime-AppItem-description {
    line-height: 1.5 !important;
    display: block !important;
    margin-top: .5rem !important;
}

.orejime-AppList {
    display: grid !important;
    gap: 2rem !important;
}

.orejime-AppList-item {
    margin: 0 !important;
}

.orejime-AppItem-input {
    opacity: 0 !important;
}

.orejime-AppItem-switch {
    top: 0 !important;
    width: 40px !important;
    height: 24px !important;
}

.orejime-AppItem-slider {
    box-shadow: none !important;
    width: 40px !important;
    border: none !important;
    background-color: var(--background-default-grey) !important;
    border: none !important;
    box-shadow: inset 0 0 0 1px var(--border-disabled-grey) !important;
}

.orejime-AppItem-slider:before {
    height: 24px !important;
    width: 24px !important;
    left: 0 !important;
    bottom: 0 !important;
    background-color: var(--background-default-grey) !important;
    border: 1px solid var(--border-disabled-grey) !important;
    background-size: 16px;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider {
    background-color: var(--background-active-blue-france) !important;
     box-shadow: none !important;
}


.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000091' d='m10 15.17 9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E") !important;
    border-color: var(--background-active-blue-france) !important;
}

.orejime-AppItem-switchLabel {
    font-size: .75rem !important;
    color: var(--text-disabled-grey) !important;
    top: 28px !important;
    text-align: left !important;
}


.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-switchLabel {
    color: var(--text-active-blue-france) !important;
}


.home {
    background: var(--blue-france-975-75);
}

.home p {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    margin: var(--text-spacing);
}
